# This file defines a list of code owners who are responsible for maintaining this repository.
# These owners will be automatically requested for review when a pull request is opened.
# Defines @rmngqibisa and @Azanian-Eagle as maintainers for all areas.

# Global owners for everything
*       @rmngqibisa @Azanian-Eagle

# Backend
server/ @rmngqibisa @Azanian-Eagle

# Frontend
client/ @rmngqibisa @Azanian-Eagle

# GitHub Actions and Security
.github/ @rmngqibisa @Azanian-Eagle
