# This file defines a list of code owners who are responsible for maintaining this repository.
# These owners will be automatically requested for review when a pull request is opened.
# Defines @rmngqibisa as the primary maintainer for all areas.

# Global owners for everything
*       @rmngqibisa

# Backend
server/ @rmngqibisa

# Frontend
client/ @rmngqibisa

# GitHub Actions and Security
.github/ @rmngqibisa
